@import "compass/css3";
$screen-sm-min: 744px;
html {font-size: 62.5%;}
body {
	font-size: 1.6rem;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: Microsoft JhengHei, "微軟正黑體", sans-serif;
	text-align:	justify; 
	text-justify:inter-ideograph;
	word-break: break-all; 
}
a{
	font-size: 1.5rem;
	cursor: pointer;
}
// a,a:visited,a:hover,a:active,a:focus{text-decoration: none;}
a:focus, li:focus, button:focus, input:focus, input[type="checkbox"]{outline: none;}
.nomargin {
   padding: 0 !important;
   margin: 0 !important;
}
.nopadding{
	padding: 0 !important;
}
h1{font-size: 3.2rem;}
h2{font-size: 2.8rem;}
h3{
	font-size: 1.8rem;
	color: #5b5b5b;
}
.a1,.a1:focus{
	color: #1aa0e5;
	text-decoration: underline;
}
.a1:hover,.a1:active{
	color: #178fcd;
	text-decoration: underline;
}
.a2,.a2:focus{
	color: #333333;
	text-decoration: none;
}
.a2:hover,.a2:active{
	color: #0b0b0b;
	text-decoration: underline;
}
.a3,.a3:focus{
	color: #959595;
	text-decoration: none;
}
.a3:hover,.a3:active{
	color: #8c8c8c;
	text-decoration: underline;
}
.text-l{font-size: 1.7rem;}
.text-s{font-size: 1.5rem;}
.text-xs{font-size: 1.4rem;color:#959595;}
.main-name{color: #1aa0e5;}
@mixin button-all($color,$fontSize,$height){
	background-color: $color;
	color: #fff;
	border: 0;
	font-size: $fontSize;
	height: $height;
	padding: 0 30px;
	@include border-radius(5px);
}
.button1{
	@include button-all(#333333,1.4rem,40px);
	img{
		padding-left: 10px;
	}
}
.button1:hover,.button1:active{
	background-color: #0b0b0b;
	border: 0;
}
.button2{
	width: 260px;
	@include button-all(#1aa0e5,1.7rem,50px);
}
.button2:hover,.button2:active{
	background-color: #178fcd;
	border: 0;
}
.input-text{
	border: 1px solid #b9b9b9;
	@include border-radius(5px);
	padding: 0 15px;
	color: #b9b9b9;
	font-size: 1.7rem;
	width: 260px;
	height: 45px;
}
.input-text:hover,.input-text:active{
	border: 1px solid #178fcd;
	background-color: #f2f7fb;
	color: #000;
}
.input-checkbox{
	@include scale(1.5);
	cursor: pointer;
}
.input-checkbox-text{
	color: #4b4b4b;
	font-size: 1.5rem;
	padding-left: 10px;
}
.input-captcha{
	width: 150px;
}
.captcha-img{
	width: 100px;
	height: 45px;
	border: 1px solid #b9b9b9;
	@include border-radius(5px);
	background-color: #eeeeee;
}
[class*="col-"] {text-align: center;}
/*------- 導覽列 -------*/
.nav-all{
	background-color: #fff;
	// border-bottom: 1px solid #dedede;
	height: 80px;
	width: 100%;
	.logo{
		float: left;
		line-height: 80px;
	}
	.member{
		float: right;
		line-height: 80px;
	}
}
.wra{
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 80px !important;
}
.login-title{
	widows: 100%;
	height: 100px;
	line-height: 100px;
	background-color: #ebf0f4;
	div{
		text-align: center;
	}
	span{
		font-size: 3.2rem;
		vertical-align: middle;
		margin-left: 15px;
	}
}
.login-left{
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	img{
		width: 100%;
		height: auto;
		padding-top: 35px;
	}
	.info-s{
		display: block;
		margin-top: 10px;
	}
	.info-hide{
		display: inline-block;
	}
}
.login-right{
	margin-top: 35px;
	margin-bottom: 90px;
	form{
		width: 260px;
		margin: 0 auto;
		.state{
			padding: 35px 0;
			float: left;
		}
		.input-padding{
			padding-top: 20px;
			text-align: left;
		}
	}
	.join{
		width: 100%;
		margin: 0 auto;
		div:nth-child(1){
			float: none;
			margin-bottom:10px;
			line-height: 40px;
		}
		div:nth-child(2){
			float: none;
			margin-bottom:40px;
		}
	}
}
.footer-mobile{
	display: block;
	padding: 30px 0;
	[class*="col-"] {text-align: left;}
	border-top: 1px solid #dedede;
	.line{
		padding-right: 15px;
	}
	.row{
		div:nth-child(2){
			margin-bottom: 15px;
			margin-top: 15px;
		}
	}
}
.footer-all{
	display: none;
	padding: 30px 0;
	[class*="col-"] {text-align: center;}
	border-top: 1px solid #dedede;
	.line{
		padding: 0 15px;
	}
}
/*------- RWD -------*/
@media (min-width: $screen-sm-min){
	.button2{
		width: 320px;
	}
	.input-text{
		width: 320px;
	}
	.input-captcha{
		width:210px;
	}
	.captcha-img{
		height: 40px;
	}
	.login-left{
		text-align: left;
		img{
			width: 90%;
		}
		.info-s{
			display: inline-block;
			margin-top: 0;
		}
		.info-hide{
			display: none;
		}
	}
	.login-right{
		margin-top: 125px;
		form{
			width: 320px;
		}
		.join{
			width: 320px;
			div:nth-child(1){
				float: left;
				margin-bottom: 40px;
			}
			div:nth-child(2){
				float: right;
			}
		}
	}
	.footer-all{display: block;}
	.footer-mobile{display: none;}
}

/*------- email頁面 -------*/
[class*="email-"]{
	width: 100%;
	margin: 0 auto;
	text-align: left;
}
.email-header{
	padding: 30px 20px;
}
.email-content{
	font-size: 1.8rem;
	padding: 0 20px;
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
	padding-top: 40px;
	a{
		font-size: 1.6rem;
	}
	p{
		margin: 0 0 30px;
	}
	.note{
		color: #c22e2e;
		font-size: 1.4rem;
	}
}
.email-footer{
	padding: 20px 0;
	text-align: center;
	font-size: 1.4rem;
	color: #959595;
}
@media (min-width: $screen-sm-min){
	[class*="email-"]{width: 600px;}
}