@import "compass/css3";
html {font-size: 62.5%;}
body {
	font-size: 1.4rem;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: Microsoft JhengHei, "微軟正黑體", sans-serif;
	text-align:	justify; 
	text-justify:inter-ideograph; 
}
h1 {font-size: 2.4rem;}
a{cursor: pointer;}
a,a:visited,a:hover,a:active,a:focus{text-decoration: none;}
a:focus, li:focus{outline: none;}
.nomargin {
   padding: 0 !important;
   margin: 0 !important;
}
[class*="col-"] {text-align: center;}
/*------- 導覽列 -------*/
.navbar{
	background-color: #fff;
	border-bottom: 1px solid #000;
	height: 80px;
}
.wra{
	overflow-y: scroll;
	overflow-x: hidden;
}