header .slick-items img {
  width: 100%;
}
header .slick-dots {
  text-align: right;
  margin-top: 5px;
}
header .slick-dots li {
  display: inline-block;
  margin: 0 2px;
}
header .slick-dots li button {
  border: 0;
  background: transparent;
  height: 7px;
  width: 7px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  cursor: pointer;
  background: url(../images/icon/slick_dots.png) no-repeat;
  background-position: 0 0;
  padding: 0;
  margin: 0;
}
header .slick-dots .slick-active button {
  background: url(../images/icon/slick_dots.png) no-repeat;
  background-position: -7px 0;
}

@media (min-width: 769px) {
  header {
    width: 66%;
    margin: 0 auto;
  }
  header .slick-dots {
    margin-top: 16px;
  }
  header .slick-dots li {
    margin: 0 7px;
  }
  header .slick-dots li button {
    height: 24px;
    width: 24px;
    background: url(../images/icon/slick_dots_pc.png) no-repeat;
    background-position: 0 0;
  }
  header .slick-dots .slick-active button {
    background: url(../images/icon/slick_dots_pc.png) no-repeat;
    background-position: -24px 0;
  }
}
main {
  width: calc(100% - 30px);
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 10px;
  padding-bottom: 40px;
}
main .title {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
main .title img {
  width: 20px;
  margin-right: 10px;
}
main .content {
  margin: 15px 0;
}
main .content .img {
  width: 100%;
  text-align: center;
}
main .content .img img {
  width: 100%;
  display: block;
}
main .content .text {
  width: 100%;
  font-size: 1.2rem;
  line-height: 150%;
  margin-top: 15px;
}
main .content .img2 {
  width: 100%;
}
main .content iframe.map {
  width: 100%;
  height: 100vw;
}

@media (min-width: 769px) {
  main {
    width: 66%;
    padding: 0px;
    padding-top: 1%;
    padding-bottom: 9%;
  }
  main .title {
    font-size: 3.8rem;
  }
  main .title img {
    width: 7.2%;
    max-width: 81px;
    margin-right: 25px;
  }
  main .content {
    display: flex;
    align-items: flex-start;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  main .content .img {
    width: 42%;
  }
  main .content .text {
    width: calc(100% - 42%);
    font-size: 2.5rem;
    padding-left: 3%;
    margin-top: 0px;
  }
  main .content iframe.map {
    height: 650px;
  }
}
