@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 62.5%;
}

@media (min-width: 769px) {
  html {
    font-size: 37.5%;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 43.8%;
  }
}
@media (min-width: 1250px) {
  html {
    font-size: 50.0%;
  }
}
@media (min-width: 1500px) {
  html {
    font-size: 56.3%;
  }
}
@media (min-width: 1700px) {
  html {
    font-size: 62.5%;
  }
}
body {
  font-size: 1.4rem;
  font-family: Microsoft JhengHei, "微軟正黑體", Arial, sans-serif;
  word-break: break-all;
}

a, a:visited, a:hover {
  color: #000;
  text-decoration: none;
}

.relative-block {
  position: relative;
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
}
nav .top-wrap {
  padding: 20px 0;
  display: flex;
  align-items: flex-end;
}
nav .btn-hamburger {
  cursor: pointer;
  margin-left: 10px;
}
nav .logo {
  width: 95px;
  margin-left: 25px;
}
nav .btn-line {
  align-self: flex-end;
  margin-left: auto;
  margin-right: 25px;
  text-align: right;
}
nav .btn-line img {
  width: 60px;
  cursor: pointer;
}
nav .counter {
  display: none;
  font-size: 1.4rem;
  color: #241916;
  margin-top: 20px;
}
nav .counter span {
  font-size: 2.2rem;
  color: #E5AB38;
  font-weight: bold;
  margin-left: 15px;
}
nav .bottom-wrap {
  position: absolute;
  z-index: 1;
  background-color: #F6F6F9;
  width: 200px;
  display: none;
}
nav .menu-list {
  border: 1px solid #bbb;
  border-top: 0px;
  font-size: 1.2rem;
  padding-bottom: 125px;
}
nav .menu-list li {
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-top: 20px;
}
nav .menu-list__item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav .menu-list__icon {
  width: 50px;
  text-align: center;
}
nav .menu-list__icon2, nav .menu-list__icon2--active {
  display: none;
}
nav .search-wrap--mobile {
  display: flex;
  justify-content: space-between;
  height: 25px;
  background-color: #fff;
}
nav .search-input {
  border: 1px solid #bbb;
  height: 100%;
  width: calc(100% - 53px);
  padding: 0px;
}
nav .search-btn {
  border: 1px solid #bbb;
  border-left: 0px;
  width: 50px;
  height: 100%;
  cursor: pointer;
  background: url(../images/icon/search.png) no-repeat center;
  background-size: 20px auto;
}
nav .search-wrap--pc {
  display: none;
}

@media (min-width: 769px) {
  nav {
    width: 66%;
    margin: 0 auto;
  }
  nav .top-wrap {
    padding-top: 10%;
    padding-bottom: 5%;
  }
  nav .btn-hamburger {
    display: none;
  }
  nav .logo {
    width: 100%;
    margin-left: 4%;
    max-width: 403px;
  }
  nav .logo-wrap {
    display: inline-table;
    width: 32%;
  }
  nav .btn-line {
    margin-right: 2%;
  }
  nav .btn-line img {
    width: 80px;
  }
  nav .counter {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  nav .counter span {
    font-size: 5rem;
  }
  nav .bottom-wrap {
    position: relative;
    width: 100%;
    background-color: #fff;
    margin-bottom: 5%;
    display: block;
  }
  nav .menu-list {
    display: flex;
    justify-content: space-between;
    font-size: 2.4rem;
    padding-bottom: 0px;
    border: 0px;
  }
  nav .menu-list li {
    display: inline-block;
    padding: 0px;
  }
  nav .menu-list__icon {
    display: none;
  }
  nav .menu-list__icon2 {
    width: 100%;
    display: block;
  }
  nav .menu-list__icon2--active {
    width: 100%;
  }
  nav .search-wrap--mobile {
    display: none;
  }
  nav .search-wrap--pc {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-left: auto;
    margin-bottom: 5px;
    height: 22px;
    background-color: #fff;
    width: 25%;
  }
  nav .search-input {
    border: 2px solid #000;
    height: 100%;
    width: calc(100% - 41px);
    padding: 0px;
    font-size: 1.8rem;
  }
  nav .search-btn {
    border: 2px solid #000;
    border-left: 0px;
    width: 35px;
    background: url(../images/icon/search.png) no-repeat center;
    background-size: 14px auto;
  }
  nav .menu-list__item {
    width: 100%;
    max-width: 150px;
    display: block;
    text-align: center;
  }
  nav .menu-list__item span {
    display: block;
    padding-top: 90px;
    padding-right: 9px;
    color: #241916;
    display: none;
  }
  nav .hide {
    display: none;
  }
  nav .show {
    display: block;
  }
}
@media (min-width: 1280px) {
  nav .search-wrap--pc {
    height: 35px;
  }
  nav .search-input {
    width: calc(100% - 81px);
  }
  nav .search-btn {
    width: 75px;
    background: url(../images/icon/search.png) no-repeat center;
    background-size: 28px auto;
  }
  nav .counter {
    margin-top: 20px;
  }
  nav .btn-line img {
    width: 146px;
  }
}
footer .top-wrap {
  display: none;
}
footer .bottom-wrap--mobile {
  text-align: center;
  line-height: 260%;
  font-size: 1.2rem;
}
footer .bottom-wrap--mobile section {
  padding: 25px 0;
}
footer .bottom-wrap--mobile section:first-child {
  background-color: #F1F1F1;
}
footer .bottom-wrap--pc {
  display: none;
}

@media (min-width: 769px) {
  footer .top-wrap {
    position: relative;
    display: block;
    background-color: #F9F7F4;
    border-top: 3px solid #DCDDDD;
    height: 210px;
  }
  footer .top-wrap .link-list {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    width: 42%;
    display: flex;
    justify-content: space-around;
  }
  footer .top-wrap .link-list li {
    display: inline-block;
    font-size: 2.2rem;
  }
  footer .top-wrap .social-link {
    position: absolute;
    top: 30px;
    width: 66%;
    text-align: right;
    left: 0;
    right: 0;
    margin: auto;
  }
  footer .top-wrap .social-link a:first-child {
    margin-right: 5px;
  }
  footer .top-wrap .social-link .fb, footer .top-wrap .social-link .line {
    width: 6.9%;
    max-width: 72px;
  }
  footer .top-wrap .btn-totop {
    position: absolute;
    top: -3px;
    width: 4.6%;
    height: 100%;
    right: 9%;
  }
  footer .top-wrap .btn-totop .ui {
    width: 100%;
    max-width: 75px;
    height: 100%;
    background: url(../images/icon/arrow_totop.png) no-repeat;
    background-size: 100% auto;
    background-position: top center;
    cursor: pointer;
    float: right;
  }
  footer .bottom-wrap--mobile {
    display: none;
  }
  footer .bottom-wrap {
    background-color: #F1EDE6;
  }
  footer .bottom-wrap--pc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1rem;
    line-height: 160%;
    max-width: 1580px;
    margin: auto;
    width: 85%;
  }
  footer .bottom-wrap--pc .img-wrap {
    width: 20%;
    margin-right: 2%;
  }
  footer .bottom-wrap--pc .logo {
    width: 100%;
    max-width: 337px;
    margin-right: 30px;
    margin-bottom: 15px;
  }
  footer .bottom-wrap--pc .info-wrap {
    width: 78%;
    display: flex;
    padding: 4% 0;
  }
  footer .bottom-wrap--pc .info-wrap div:first-child {
    width: 42%;
    margin-right: 1%;
  }
  footer .bottom-wrap--pc .info-wrap div:last-child {
    width: 56%;
    margin-left: 1%;
  }
}
@media (min-width: 1280px) {
  footer .top-wrap {
    height: 290px;
  }
  footer .top-wrap .link-list {
    margin-top: 110px;
  }
  footer .top-wrap .social-link {
    top: 50px;
  }
  footer .top-wrap .social-link a:first-child {
    margin-right: 15px;
  }
}
