main {
  width: calc(100% - 20px);
  margin: 0 auto;
  text-align: center;
  padding-bottom: 85px;
}
main .arrow {
  width: 10%;
  max-width: 58px;
  margin: 0 auto;
  display: block;
  margin-bottom: 3%;
}
main .img-qrcode {
  width: 127px;
  margin-bottom: 10%;
  cursor: pointer;
}
main .img-phone {
  width: 43px;
  margin: 35px 0;
}
main .text-main {
  font-size: 2.5rem;
  color: #7BAE94;
  line-height: 200%;
}
main .text-smaller {
  font-size: 2rem;
}
main .text-point {
  color: #569172;
}
main .text-phone {
  line-height: 120%;
}
main .text-note {
  line-height: 120%;
  color: #989898;
  font-size: 1.6rem;
  width: 140px;
  text-align: left;
  margin: 0 auto;
  text-indent: -1.3rem;
  margin-top: 40px;
}
main .text-note:before {
  content: url(../images/icon/start.png);
}

@media (min-width: 769px) {
  main {
    width: 60%;
    padding-bottom: 15%;
    padding-top: 4%;
  }
  main .img-qrcode {
    width: 30.6%;
    max-width: 255px;
  }
  main .img-phone {
    width: 13%;
    max-width: 143px;
    margin: 5% 0;
  }
  main .text-main {
    margin: 0 auto;
    font-size: 6rem;
  }
  main .text-smaller {
    font-size: 4.5rem;
  }
  main .text-note {
    font-size: 4.5rem;
    width: auto;
    display: inline-block;
    text-indent: -4.6rem;
    margin-top: 8%;
  }
  main .text-note:before {
    content: url(../images/icon/start_pc.png);
    position: relative;
    top: 5px;
  }
}
