main {
  width: calc(100% - 20px);
  margin: 0 auto;
}
main .title {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
main .title img {
  margin-right: 5px;
  width: 16px;
}
main .list {
  padding-top: 15px;
}
main .item {
  float: left;
  width: calc((100% - 20px) / 2);
  margin: 0 5px;
  font-size: 1.2rem;
}
main .item__img img {
  width: 100%;
}
main .item__text {
  text-align: center;
  padding: 15px 0;
}
main .list:after {
  content: '';
  clear: both;
  display: block;
}

@media (min-width: 769px) {
  main {
    width: 70%;
  }
  main .title {
    font-size: 3.3rem;
    padding-left: 0px;
  }
  main .title img {
    margin-right: 10px;
    width: 37px;
  }
  main .list {
    width: 95%;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 4%;
  }
  main .item {
    font-size: 2.7rem;
    width: calc((100% - 60px) / 3);
    margin: 0 10px;
  }
  main .item__img img {
    border: 3px #CCCCCC solid;
  }
  main .item__text {
    padding: 45px 0;
  }
}
