header .slick-items img {
  width: 100%;
}
header .slick-dots {
  text-align: right;
  margin-top: 5px;
}
header .slick-dots li {
  display: inline-block;
  margin: 0 2px;
}
header .slick-dots li button {
  border: 0;
  background: transparent;
  height: 7px;
  width: 7px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  cursor: pointer;
  background: url(../images/icon/slick_dots.png) no-repeat;
  background-position: 0 0;
  padding: 0;
  margin: 0;
}
header .slick-dots .slick-active button {
  background: url(../images/icon/slick_dots.png) no-repeat;
  background-position: -7px 0;
}

@media (min-width: 769px) {
  header {
    width: 66%;
    margin: 0 auto;
  }
  header .slick-dots {
    margin-top: 16px;
  }
  header .slick-dots li {
    margin: 0 7px;
  }
  header .slick-dots li button {
    height: 24px;
    width: 24px;
    background: url(../images/icon/slick_dots_pc.png) no-repeat;
    background-position: 0 0;
  }
  header .slick-dots .slick-active button {
    background: url(../images/icon/slick_dots_pc.png) no-repeat;
    background-position: -24px 0;
  }
}
main {
  width: 98%;
  margin: 0 auto;
  padding-bottom: 20px;
}
main .title-wrap {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
main .title__img {
  width: 22px;
  margin-right: 10px;
}
main .title__img img {
  width: 100%;
}
main .product-wrap {
  width: 100%;
  position: relative;
  padding-top: 10px;
}
main .product-wrap:after {
  content: '';
  clear: both;
  display: block;
}
main .product-item {
  float: left;
  cursor: pointer;
  margin: 1.5%;
  position: relative;
  width: calc(94% / 2);
}
main .product-item img {
  width: 100%;
}
main .product-item:hover .product-item__mask {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .product-item__mask {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  display: none;
}

@media (min-width: 769px) {
  main {
    width: 66%;
    padding-bottom: 9%;
  }
  main .title-wrap {
    font-size: 4rem;
    padding-top: 4%;
    justify-content: flex-start;
  }
  main .title__img {
    width: 5.6%;
    max-width: 68px;
    margin-right: 25px;
  }
  main .product-wrap {
    padding-top: 4%;
  }
  main .product-item {
    margin: 0.5%;
    width: calc(98% / 2);
  }
  main .product-item--width3 {
    width: calc(97% / 3);
  }
  main .product-item--width2 {
    width: calc(98% / 2);
  }
  main .product-item--width1 {
    width: calc(98% / 3 * 2);
  }
  main .product-item--last {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  main .product-item__mask {
    font-size: 6rem;
  }
}
