main {
  width: calc(100% - 10px);
  margin: 0 auto;
  padding: 0 5px;
}
main .title {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
main .title img {
  width: 14px;
  margin-left: 15px;
}
main .list {
  padding-top: 15px;
  padding-bottom: 45px;
}
main .item {
  float: left;
  width: calc((100% - 20px) / 2);
  margin: 0 5px;
  cursor: pointer;
}
main .item__img img {
  width: 100%;
}
main .item__text {
  font-size: 1.2rem;
  padding: 15px 0;
  text-align: center;
}
main .list:after {
  content: '';
  display: block;
  clear: both;
}

@media (min-width: 1280px) {
  main {
    width: 1275px;
    padding: 0;
  }
  main .title {
    font-size: 4rem;
  }
  main .title img {
    width: 62px;
    margin-left: 0px;
    margin-right: 25px;
  }
  main .list {
    padding-top: 110px;
    padding-bottom: 200px;
  }
  main .item {
    width: calc((100% - 160px) / 4);
    margin: 0 20px;
  }
  main .item__text {
    font-size: 3rem;
    padding: 50px 0;
  }
}
