main {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding-bottom: 30px;
}
main .title {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
main .title img {
  margin-right: 10px;
  width: 20px;
}
main .content {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}
main .content img {
  width: 100%;
}
main .content img.pc {
  display: none;
}

@media (min-width: 769px) {
  main {
    width: 70%;
    padding-bottom: 110px;
  }
  main .title {
    font-size: 3.4rem;
  }
  main .title img {
    margin-right: 20px;
    width: 5%;
    max-width: 49px;
  }
  main .content {
    width: 82%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 140px;
  }
  main .content img.mobile {
    display: none;
  }
  main .content img.pc {
    display: block;
  }
}
