html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

h1 {
  font-size: 2.4rem;
}

li {
  font-size: 1.5rem;
}

li a {
  color: #3f3f3f;
}

[class*="col-"] {
  background-color: #ffff00;
  border: 1px solid #333;
}

.dropdown-menu {
  padding: 0;
  margin: 0;
  text-align: center;
  border: 0;
  box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
  border-radius: 0;
  background-clip: border-box;
  -webkit-background-clip: border-box;
  background-color: rgba(191, 149, 90, 0.8);
  min-width: 146px;
}

.dropdown-menu li {
  font-size: 1.4rem;
}

.dropdown-menu li a {
  color: #fff;
}

.dropdown-menu li a:hover {
  background-color: black;
  color: #fff;
}
