html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

h1 {
  font-size: 2.4rem;
}

a {
  cursor: pointer;
}

a:focus, li:focus {
  outline: none;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

[class*="col-"] {
  text-align: center;
}

.navbar > div {
  background-color: #fff;
  -moz-box-shadow: rgba(191, 149, 90, 0.3) 0px 0px 20px 0px;
  -webkit-box-shadow: rgba(191, 149, 90, 0.3) 0px 0px 20px 0px;
  box-shadow: rgba(191, 149, 90, 0.3) 0px 0px 20px 0px;
}

.nav-logo {
  padding-top: 25px;
  padding-bottom: 15px;
}

.nav li {
  font-size: 1.5rem;
}
.nav li a, .nav li a:hover, .nav li a:focus {
  color: #3f3f3f;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav li:hover {
  border-bottom: 5px solid #bf955a;
}
.nav .open a, .nav .open a:hover, .nav .open a:focus {
  background-color: #fff;
  color: #3f3f3f;
}

.nav-center {
  margin: auto;
  max-width: 690px;
}

.navbar-nav {
  margin-left: 30px;
}

.open .dropdown-menu {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-background-clip: border;
  -o-background-clip: border-box;
  -webkit-background-clip: border;
  background-clip: border-box;
  padding: 10px 0;
  margin: 0;
  margin-left: -28px;
  text-align: center;
  border: 0;
  border-radius: 0;
  background-color: #bf955a;
  min-width: 146px;
}
.open .dropdown-menu li {
  font-size: 1.4rem;
}
.open .dropdown-menu li a {
  background-color: #bf955a;
  color: #fff;
}
.open .dropdown-menu li a:hover {
  background-color: black;
  color: #fff;
}

.banner {
  padding: 0;
  margin-top: 135px;
  width: 100%;
  display: block;
}
.banner ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mySlides {
  display: none;
}

.w3-left, .w3-right, .w3-badge {
  cursor: pointer;
}

.w3-badge {
  height: 12px;
  width: 12px;
  padding: 0;
  margin: 0 5px;
}

.subject-block {
  padding: 60px 0;
}

.subject-title {
  vertical-align: middle;
  font-size: 3rem;
  padding-left: 15px;
}

.subject-content {
  display: block;
  max-width: 660px;
  margin: 0 auto;
  padding-top: 25px;
  color: #80776a;
  font-size: 1.6rem;
  line-height: 2;
}

.service-block {
  -moz-box-shadow: 0px 0px 5px #d5d5d5;
  -webkit-box-shadow: 0px 0px 5px #d5d5d5;
  box-shadow: 0px 0px 5px #d5d5d5;
  width: 240px;
  margin: 0 auto;
  font-size: 2.2rem;
  color: #3e3934;
}

.service-icon1 {
  width: 36px;
  height: 36px;
  background: url("../img/service.png") no-repeat;
  margin: 0 auto;
  background-position: 0 0;
}

.service-icon2 {
  width: 36px;
  height: 36px;
  background: url("../img/service.png") no-repeat;
  margin: 0 auto;
  background-position: -72px 0;
}

.service-icon3 {
  width: 36px;
  height: 36px;
  background: url("../img/service.png") no-repeat;
  margin: 0 auto;
  background-position: -144px 0;
}

.service-icon4 {
  width: 36px;
  height: 36px;
  background: url("../img/service.png") no-repeat;
  margin: 0 auto;
  background-position: -216px 0;
}

.service-arrow {
  margin-left: 210px;
  width: 18px;
  height: 18px;
  background-position: 0 0;
  background: url("../img/serviceArrow.png") no-repeat;
}
