@import "compass/css3";
$mainColor: #bf955a;
$screen-xs-max: 743px;
$screen-sm-min: 744px;
$screen-sm-max: 959px;
$screen-md-min: 960px;
$screen-md-max: 1159px;
$screen-lg-min: 1200px;
@mixin service-icon() {
	width: 36px;
	height: 36px;
	background: url('../img/service.png') no-repeat;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
}
@mixin subject-block(){padding: 60px 0;}
@mixin subject-title(){
	vertical-align: middle;
	font-size: 3rem;
	padding-left: 15px;
	color: #272727;
}
@mixin subject-content(){
	display: block;
	max-width: 660px;
	margin: 0 auto;
	padding-top: 25px;
	color: #80776a;
	font-size: 1.6rem;
	line-height: 2;
}
html {font-size: 62.5%;}
body {
	font-size: 1.4rem;
	overflow-y: scroll;
	overflow-x: hidden;
}
h1 {font-size: 2.4rem;}
a{cursor: pointer;}
a,a:visited,a:hover,a:active,a:focus{text-decoration: none;}
a:focus, li:focus{outline: none;}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
[class*="col-"] {text-align: center;}
/*------- 導覽列 -------*/
.navbar>div{
	background-color: #fff;
	@include box-shadow(rgba(191,149,90, 0.3) 0px 0px 20px 0px);
}
.nav-logo{
	padding-top: 25px;
	padding-bottom: 15px;
}
.nav{
	li{
		font-size: 1.5rem;
		a, a:hover, a:focus{
			color: #3f3f3f;
			background-color: #fff;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	li:hover{
		border-bottom: 5px solid $mainColor;
	}
	.open{
		a, a:hover, a:focus{
			background-color: #fff;
			color: #3f3f3f;
		}
	}
}
.nav-center { 
	margin: auto; 
	max-width: 690px; 
}
.navbar-nav{margin-left:30px;}
.open .dropdown-menu{
	@include box-shadow(none); 
	@include background-clip(border-box);
	padding: 10px 0;
	margin: 0;
	margin-left: -28px;
	text-align: center;
	border: 0;
	border-radius: 0;
	background-color: rgba(191,149,90,1);
	min-width:146px;
	li{
		font-size: 1.4rem;
		a{
			background-color: rgba(191,149,90,1);
			color: #fff;
		}
		a:hover{
			background-color: rgba(0,0,0,1);
			color:#fff;
		}
	}
}
/*------- 圖片輪播 -------*/
.banner{
	padding: 0;
	margin-top: 135px;
	width: 100%;
	display: block;
	ul{
		list-style: none;
    	padding: 0;
    	margin: 0;
	}
}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {
	height: 12px;
	width: 12px;
	padding: 0;
	margin: 0 5px;
}
/*------- 服務-------*/
.service{
	.subject-block{@include subject-block();}
	.subject-title{@include subject-title();}
	.subject-content{@include subject-content();}
}
.service-block{
	@include box-shadow(0px 0px 5px #d5d5d5); 
	background-color: #fff;
	width: 240px;
	margin: 0 auto;
	font-size: 2.2rem;
	color: #3e3934;
	margin-bottom: 80px;
}
.service-block:hover{
	@include box-shadow(0px 0px 5px $mainColor); 
	background-color: $mainColor;
	color: #fff;
}
.service-icon1{
	@include service-icon();
	background-position: 0 0;
}
.service-icon2{
	@include service-icon();
	background-position: -72px 0;
}
.service-icon3{
	@include service-icon();
	background-position: -144px 0;
}
.service-icon4{
	@include service-icon();
	background-position: -216px 0;
}
.service-arrow{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 210px;
	width: 18px;
	height: 28px;
	background: url('../img/serviceArrow.png') no-repeat;
	background-position: 0 0;
}
.service-mask{
	width:240px;
	height:240px;
	background-color: rgba(#201403, 0.3);
	z-index: 2;
	position: absolute;
	display:block;
}
/*------- 實績經驗 -------*/
.case{
	background: url('../img/case.jpg') no-repeat;
	@include background-size(cover);
	height: 490px;
	text-align: left;
	.subject-block{
		@include subject-block();
		width: 510px;
		padding-top: 70px;
		div{
			margin: 0 auto;
		}
		.row{
			margin-top: 60px;
		}
	}
	.subject-title{@include subject-title();}
	.subject-content{
		@include subject-content();
		color: #272727;
		padding-left: 40px;
		padding-top: 15px;
	}
}
.case-block{
	width: 140px;
	height: 140px;
	background-color: rgba(#ab7f41, 0.8);
}
/*------- 頁腳 -------*/
.footer{
	background-color: #272727;
}
.footer-block{
	float: left;
	border: 1px solid #000;
}
.footer-block:nth-child(1){width: 155px; margin-right: 70px;};
.footer-block:nth-child(2){width: 210px; margin-right: 70px;};
.footer-block:nth-child(3){width: 250px; margin-right: 70px;};
.footer-block:nth-child(4){width: 140px};
.footer-bottom{
	clear: both;
	border-top: 0.5px solid $mainColor;
}
/*------- RWD -------*/
@media (max-width: $screen-xs-max) {}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {}
@media (min-width: $screen-lg-min) {}