@import "compass/css3";
$mainColor: #bf955a;

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
}
h1 { 
	font-size: 2.4rem;
}
a:focus, li:focus{
	outline: none;
}
.nav{
	li{
		font-size: 1.5rem;
		a, a:hover{
			color: #3f3f3f;
			background-color: #fff;
		}
	}
	li:hover{
		border-bottom: 5px solid $mainColor;
	}
}

[class*="col-"] {
	background-color: #ffff00;
	border:1px solid #333;
}
.dropdown:hover{
    display: block;
    margin-top: 0;
 }

.dropdown-menu{
	display: block;
    margin-top: 0;
	@include box-shadow(none);
	@include background-clip(border-box);
	padding: 0;
	margin: 0;
	text-align: center;
	border: 0;
	border-radius: 0;
	background-color: rgba(191,149,90,0.8);
	min-width:146px;
	li{
		font-size: 1.4rem;
		a{
			background-color: $mainColor;
			color: #fff;
		}
		a:hover{
			background-color: rgba(0,0,0,1);
			color:#fff;
		}
	}
}