[class*="col-"] {
	background-color: #ffff00;
	border:1px solid #333;
}

.dropdown-menu{
	border: 0;
	box-shadow: 0;
	-webkit-box-shadow: 0;
	border-radius: 0;
	background-clip: 0;
	-webkit-background-clip: 0;
	background-color: rgba(191,149,90,0.8);
}

.dropdown-menu li a:hover{
	background-color: rgba(0,0,0,1);
	color:#fff;
}