@charset "UTF-8";
/* line 2, ../sass/index.scss */
html {
  font-size: 62.5%;
}

/* line 3, ../sass/index.scss */
body {
  font-size: 1.6rem;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Microsoft JhengHei, "微軟正黑體", sans-serif;
  text-align: justify;
  text-justify: inter-ideograph;
}

/* line 11, ../sass/index.scss */
a {
  cursor: pointer;
}

/* line 12, ../sass/index.scss */
a, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
}

/* line 13, ../sass/index.scss */
a:focus, li:focus {
  outline: none;
}

/* line 14, ../sass/index.scss */
.nomargin {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 18, ../sass/index.scss */
[class*="col-"] {
  text-align: center;
}

/*------- 導覽列 -------*/
/* line 20, ../sass/index.scss */
.nav-all {
  background-color: #fff;
  height: 80px;
  width: 100%;
}
/* line 25, ../sass/index.scss */
.nav-all .logo {
  float: left;
  line-height: 80px;
}
/* line 29, ../sass/index.scss */
.nav-all .member {
  float: right;
  line-height: 80px;
}

/* line 34, ../sass/index.scss */
.wra {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 80px !important;
}

/* line 39, ../sass/index.scss */
.login-title {
  widows: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #ebf0f4;
}
/* line 44, ../sass/index.scss */
.login-title div {
  text-align: center;
}
/* line 47, ../sass/index.scss */
.login-title span {
  font-size: 3.2rem;
  vertical-align: middle;
  margin-left: 15px;
}

/* line 54, ../sass/index.scss */
footer span {
  margin: 0 7.5px;
}
