@charset "UTF-8";
/* line 2, ../sass/index.scss */
html {
  font-size: 62.5%;
}

/* line 3, ../sass/index.scss */
body {
  font-size: 1.4rem;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Microsoft JhengHei, "微軟正黑體", sans-serif;
  text-align: justify;
  text-justify: inter-ideograph;
}

/* line 11, ../sass/index.scss */
h1 {
  font-size: 2.4rem;
}

/* line 12, ../sass/index.scss */
a {
  cursor: pointer;
}

/* line 13, ../sass/index.scss */
a, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
}

/* line 14, ../sass/index.scss */
a:focus, li:focus {
  outline: none;
}

/* line 15, ../sass/index.scss */
.nomargin {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 19, ../sass/index.scss */
[class*="col-"] {
  text-align: center;
}

/*------- 導覽列 -------*/
/* line 21, ../sass/index.scss */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid #000;
  height: 80px;
}

/* line 26, ../sass/index.scss */
.wra {
  overflow-y: scroll;
  overflow-x: hidden;
}
