@charset "UTF-8";
/* line 3, ../sass/index.scss */
html {
  font-size: 62.5%;
}

/* line 4, ../sass/index.scss */
body {
  font-size: 1.6rem;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Microsoft JhengHei, "微軟正黑體", sans-serif;
  text-align: justify;
  text-justify: inter-ideograph;
}

/* line 12, ../sass/index.scss */
a {
  font-size: 1.5rem;
  cursor: pointer;
}

/* line 17, ../sass/index.scss */
a:focus, li:focus, button:focus, input:focus, input[type="checkbox"] {
  outline: none;
}

/* line 18, ../sass/index.scss */
.nomargin {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 22, ../sass/index.scss */
.nopadding {
  padding: 0 !important;
}

/* line 25, ../sass/index.scss */
h1 {
  font-size: 3.2rem;
}

/* line 26, ../sass/index.scss */
h2 {
  font-size: 2.8rem;
}

/* line 27, ../sass/index.scss */
h3 {
  font-size: 1.8rem;
  color: #5b5b5b;
}

/* line 31, ../sass/index.scss */
.a1, .a1:focus {
  color: #1aa0e5;
  text-decoration: underline;
}

/* line 35, ../sass/index.scss */
.a1:hover, .a1:active {
  color: #178fcd;
  text-decoration: underline;
}

/* line 39, ../sass/index.scss */
.a2, .a2:focus {
  color: #333333;
  text-decoration: none;
}

/* line 43, ../sass/index.scss */
.a2:hover, .a2:active {
  color: #0b0b0b;
  text-decoration: underline;
}

/* line 47, ../sass/index.scss */
.a3, .a3:focus {
  color: #959595;
  text-decoration: none;
}

/* line 51, ../sass/index.scss */
.a3:hover, .a3:active {
  color: #8c8c8c;
  text-decoration: underline;
}

/* line 55, ../sass/index.scss */
.text-l {
  font-size: 1.7rem;
}

/* line 56, ../sass/index.scss */
.text-s {
  font-size: 1.5rem;
}

/* line 57, ../sass/index.scss */
.text-xs {
  font-size: 1.4rem;
  color: #959595;
}

/* line 58, ../sass/index.scss */
.main-name {
  color: #1aa0e5;
}

/* line 68, ../sass/index.scss */
.button1 {
  background-color: #333333;
  color: #fff;
  border: 0;
  font-size: 1.4rem;
  height: 40px;
  padding: 0 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 70, ../sass/index.scss */
.button1 img {
  padding-left: 10px;
}

/* line 74, ../sass/index.scss */
.button1:hover, .button1:active {
  background-color: #0b0b0b;
  border: 0;
}

/* line 78, ../sass/index.scss */
.button2 {
  width: 260px;
  background-color: #1aa0e5;
  color: #fff;
  border: 0;
  font-size: 1.7rem;
  height: 50px;
  padding: 0 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 82, ../sass/index.scss */
.button2:hover, .button2:active {
  background-color: #178fcd;
  border: 0;
}

/* line 86, ../sass/index.scss */
.input-text {
  border: 1px solid #b9b9b9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 15px;
  color: #b9b9b9;
  font-size: 1.7rem;
  width: 260px;
  height: 45px;
}

/* line 95, ../sass/index.scss */
.input-text:hover, .input-text:active {
  border: 1px solid #178fcd;
  background-color: #f2f7fb;
  color: #000;
}

/* line 100, ../sass/index.scss */
.input-checkbox {
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  cursor: pointer;
}

/* line 104, ../sass/index.scss */
.input-checkbox-text {
  color: #4b4b4b;
  font-size: 1.5rem;
  padding-left: 10px;
}

/* line 109, ../sass/index.scss */
.input-captcha {
  width: 150px;
}

/* line 112, ../sass/index.scss */
.captcha-img {
  width: 100px;
  height: 45px;
  border: 1px solid #b9b9b9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #eeeeee;
}

/* line 119, ../sass/index.scss */
[class*="col-"] {
  text-align: center;
}

/*------- 導覽列 -------*/
/* line 121, ../sass/index.scss */
.nav-all {
  background-color: #fff;
  height: 80px;
  width: 100%;
}
/* line 126, ../sass/index.scss */
.nav-all .logo {
  float: left;
  line-height: 80px;
}
/* line 130, ../sass/index.scss */
.nav-all .member {
  float: right;
  line-height: 80px;
}

/* line 135, ../sass/index.scss */
.wra {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 80px !important;
}

/* line 140, ../sass/index.scss */
.login-title {
  widows: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #ebf0f4;
}
/* line 145, ../sass/index.scss */
.login-title div {
  text-align: center;
}
/* line 148, ../sass/index.scss */
.login-title span {
  font-size: 3.2rem;
  vertical-align: middle;
  margin-left: 15px;
}

/* line 154, ../sass/index.scss */
.login-left {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
/* line 158, ../sass/index.scss */
.login-left img {
  width: 100%;
  height: auto;
  padding-top: 35px;
}
/* line 163, ../sass/index.scss */
.login-left .info-s {
  display: block;
  margin-top: 10px;
}
/* line 167, ../sass/index.scss */
.login-left .info-hide {
  display: inline-block;
}

/* line 171, ../sass/index.scss */
.login-right {
  margin-top: 35px;
  margin-bottom: 90px;
}
/* line 174, ../sass/index.scss */
.login-right form {
  width: 260px;
  margin: 0 auto;
}
/* line 177, ../sass/index.scss */
.login-right form .state {
  padding: 35px 0;
  float: left;
}
/* line 181, ../sass/index.scss */
.login-right form .input-padding {
  padding-top: 20px;
  text-align: left;
}
/* line 186, ../sass/index.scss */
.login-right .join {
  width: 320px;
  margin: 0 auto;
}
/* line 189, ../sass/index.scss */
.login-right .join div:nth-child(1) {
  float: none;
  margin-bottom: 10px;
  line-height: 40px;
}
/* line 194, ../sass/index.scss */
.login-right .join div:nth-child(2) {
  float: none;
  margin-bottom: 40px;
}

/* line 200, ../sass/index.scss */
.footer-mobile {
  display: block;
  padding: 30px 0;
  border-top: 1px solid #dedede;
}
/* line 203, ../sass/index.scss */
.footer-mobile [class*="col-"] {
  text-align: left;
}
/* line 205, ../sass/index.scss */
.footer-mobile .line {
  padding-right: 15px;
}
/* line 209, ../sass/index.scss */
.footer-mobile .row div:nth-child(2) {
  margin-bottom: 15px;
  margin-top: 15px;
}

/* line 215, ../sass/index.scss */
.footer-all {
  display: none;
  padding: 30px 0;
  border-top: 1px solid #dedede;
}
/* line 218, ../sass/index.scss */
.footer-all [class*="col-"] {
  text-align: center;
}
/* line 220, ../sass/index.scss */
.footer-all .line {
  padding: 0 15px;
}

/*------- RWD -------*/
@media (min-width: 744px) {
  /* line 226, ../sass/index.scss */
  .button2 {
    width: 320px;
  }

  /* line 229, ../sass/index.scss */
  .input-text {
    width: 320px;
  }

  /* line 232, ../sass/index.scss */
  .input-captcha {
    width: 210px;
  }

  /* line 235, ../sass/index.scss */
  .captcha-img {
    height: 40px;
  }

  /* line 238, ../sass/index.scss */
  .login-left {
    text-align: left;
  }
  /* line 240, ../sass/index.scss */
  .login-left img {
    width: 90%;
  }
  /* line 243, ../sass/index.scss */
  .login-left .info-s {
    display: inline-block;
    margin-top: 0;
  }
  /* line 247, ../sass/index.scss */
  .login-left .info-hide {
    display: none;
  }

  /* line 251, ../sass/index.scss */
  .login-right {
    margin-top: 125px;
  }
  /* line 253, ../sass/index.scss */
  .login-right form {
    width: 320px;
  }
  /* line 257, ../sass/index.scss */
  .login-right .join div:nth-child(1) {
    float: left;
    margin-bottom: 40px;
  }
  /* line 261, ../sass/index.scss */
  .login-right .join div:nth-child(2) {
    float: right;
  }

  /* line 266, ../sass/index.scss */
  .footer-all {
    display: block;
  }

  /* line 267, ../sass/index.scss */
  .footer-mobile {
    display: none;
  }
}
