.pricing-title {
	position: relative;
	width: 100%;
	height: 112px;
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: #ffffff;
	background: url(../images/pricing/title.jpg) no-repeat center;
	background-size: cover;
}

@media only screen and (min-width: 768px) {
	.pricing-title {
		background: url(../images/pricing/title@2x.jpg) no-repeat center;
		background-size: cover;
		font-size: 3.2rem;
		letter-spacing: 0.9px;
		height: 224px;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 768px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (                min-resolution: 192dpi) and (min-width: 768px),
only screen and (                min-resolution: 2dppx)  and (min-width: 768px) { 
	.pricing-title {
		background: url(../images/pricing/title@3x.jpg) no-repeat center;
		background-size: cover;
	}
}

.pricing-title .mask {
	background-color: rgba(74, 74, 74, 0.5);
}

.pricing-title .relative-block {
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (min-width: 768px) {
	.pricing-title .relative-block {
		width: 100%;
	}
}

.pricing-plans {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 76.5%;
	margin: auto;
}

@media only screen and (min-width: 768px) {
	.pricing-plans {
		width: 100%;
	}
}

.pricing-plans h1 {
	margin-top: 32px;
	margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
	.pricing-plans h1 {
		margin-top: 72px;
		margin-bottom: 10px;
	}
}

.pricing-plans p {
	font-size: 1.4rem;
	letter-spacing: 0.4px;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	.pricing-plans p {
		font-size: 1.8rem;
		text-align: left;
	}
}

.pricing-plans__content {
	position: relative;
	margin-top: 36px;
	margin-bottom: 64px;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	.pricing-plans__content {
		margin-top: 73px;
		margin-bottom: 126px;
	}
}

.pricing-plans__content .title {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: #2275d7;
}

@media only screen and (min-width: 768px) {
	.pricing-plans__content .title {
		font-size: 2.4rem;
		font-weight: 500;
		letter-spacing: 0.7px;
	}
}

.pricing-plans__content p {
	font-size: 1.3rem;
	color: #4a4a4a;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 27px;
	padding: 0 17px;
	letter-spacing: 0.4px;
}

@media only screen and (min-width: 768px) {
	.pricing-plans__content p {
		font-size: 1.6rem;
		letter-spacing: 0.5px;
		padding: 0;
		width: 100%;
		margin: 0;
		margin-top: 17px;
		margin-bottom: 32px;
		text-align: center;
	}
}

.pricing-plans__content .price {
	font-size: 5.12rem;
	font-weight: 500;
	letter-spacing: 0.8px;
	color: #2275d7;
}

@media only screen and (min-width: 768px) {
	.pricing-plans__content .price {
		font-size: 6.4rem;
		letter-spacing: 0.9px;
	}
}

.pricing-plans__content .price--del {
	font-size: 3.2rem;
	letter-spacing: 0.5px;
}

@media only screen and (min-width: 768px) {
	.pricing-plans__content .price--del {
		font-size: 4rem;
		letter-spacing: 0.6px;
	}
}

.pricing-plans__content .price:after {
	content: ' ';
	font-size: 1.8rem;
}

.pricing-plans__content .price--red {
	font-size: 3.84rem;
	color: #e44d42;
	letter-spacing: 0.7px;
}

@media only screen and (min-width: 768px) {
	.pricing-plans__content .price--red {
		font-size: 4.8rem;
		letter-spacing: 0.7px;
	}
}

.pricing-plans__content ul {
	width: 166.4px;
	margin: 0 auto;
	margin-top: 25px;
}

@media only screen and (min-width: 768px) {
	.pricing-plans__content ul {
		width: 208px;
		margin-top: 30px;
	}
}

.pricing-plans__content li {
	border-bottom: 1px dashed #979797;
	padding: 7px 0;
	line-height: 165%;
	font-weight: 500;
}

@media only screen and (min-width: 768px) {
	.pricing-plans__content li {
		padding: 10px 0;
	}
}

.pricing-plans__content li:last-child {
	border: 0px;
}

.pricing-plans__content a {
	color: #2275d7;
}

.pricing-plans__content a:hover,
.pricing-plans__content a:active {
	opacity: 0.75;
}

.pricing-plans__content .ui-button {
	margin: 0 auto;
	margin-top: 25px;
}

@media only screen and (min-width: 768px) {
	.pricing-plans__content .ui-button {
		margin-top: 35px;
	}
}

.pricing-plans__free {
	margin: 0 auto;
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 1px 1px 6px 0 #d5d2d2;
  	width: 300px;
  	height: 418px;
  	font-size: 14px;
	letter-spacing: 0.4px;
}

@media only screen and (min-width: 768px) {
	.pricing-plans__free {
		position: absolute;
		z-index: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		left: -180px;
		width: 364px;
		height: 523px;
		font-size: 1.8rem;
		letter-spacing: 0.5px;
	}
}

.pricing-plans__free .title {
	padding-top: 33.8px;
	margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
	.pricing-plans__free .title {
		padding-top: 46px;
		margin-bottom: 31px;
	}
}

.pricing-plans__free .price-wrap {
	padding-left: 50px;
}

@media only screen and (min-width: 768px) {
	.pricing-plans__free .price-wrap {
		padding-left: 60px;
	}
}

.pricing-plans__free .ui-button {
	margin-top: 18px;
}

.pricing-plans__pay {
	position: relative;
	width: 300px;
	height: 468px;
	background-color: #fff;
  	border-radius: 10px;
	box-shadow: 3px 11px 25px 0 #c4c4c4;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 14px;
	letter-spacing: 0.4px;
}

@media only screen and (min-width: 768px) {
	.pricing-plans__pay {
		width: 384px;
		height: 605px;
		left: 180px;
		margin: 0;
		font-size: 1.8rem;
		letter-spacing: 0.5px;
	}
}

.pricing-plans__pay ul {
	margin-top: 30px;
}

@media only screen and (min-width: 768px) {
	.pricing-plans__pay ul {
		margin-top: 30px;
	}
}

.pricing-plans__pay .title {
	padding-top: 48px;
}

@media only screen and (min-width: 768px) {
	.pricing-plans__pay .title {
		padding-top: 57px;
	}
}

.pricing-plans__pay del {
	text-decoration: none;
	position: relative;
}

.pricing-plans__pay del:after {
	position: absolute;
	left: 0;
	right: 0;
	top: 0%;
	bottom: 50%;
	border-top: solid 2px #e44d42;
	border-bottom: solid 2px #e44d42;
	display: block;
	content: '';
}

.pricing-plans__pay .price-wrap {
	margin-top: 15px;
}

.pricing-plans__pay li {
	font-weight: 500;
	letter-spacing: 0.4px;
}

@media only screen and (min-width: 768px) {
	.pricing-plans__pay li {
		letter-spacing: 0.5px;
	}
}

.pricing-faqs {
	position: relative;
	width: 100%;
	background: url(../images/pricing/faqs.jpg) no-repeat;
	background-position: center right;
	background-size: cover;
	height: 446px;
}

@media only screen and (min-width: 768px) {
	.pricing-faqs {
		background: url(../images/pricing/faqs@2x.jpg) no-repeat center;
		background-position: center;
		background-size: cover;
		height: 582px;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 768px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (                min-resolution: 192dpi) and (min-width: 768px),
only screen and (                min-resolution: 2dppx)  and (min-width: 768px) { 
	.pricing-faqs {
		background: url(../images/pricing/faqs@3x.jpg) no-repeat center;
		background-size: cover;
	}
}

.pricing-faqs .mask {
	background-color: rgba(246, 247, 249, 0.7);
}

.pricing-faqs h1 {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 68px;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	.pricing-faqs h1 {
		left: initial;
		margin: 0;
		top: 120px;
		text-align: left;
		width: 417px;
		right: 14.4%;
	}
}

.pricing-faqs p {
	position: absolute;
	top: 125px;
	color: #4a4a4a;
	font-size: 1.4rem;
  	letter-spacing: 0.4px;
  	line-height: 145%;
}

@media only screen and (min-width: 768px) {
	.pricing-faqs p {
		width: 417px;
		right: 14.4%;
		top: 181px;
		font-size: 1.8rem;
  		letter-spacing: 0.5px;
	}
}

.pricing-faqs .relative-block {
	width: 82.5%;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {
	.pricing-faqs .relative-block {
		width: 100%;
		margin: 0;
	}
}