$screen-pc-min: 769px;
$screen-pc-bigger-min: 1280px;
$pc-inner-width: 66%;
@import "compass/reset";

html {
	font-size: 62.5%;
}

@media (min-width: 769px)  { html { font-size: 37.5%; } }
@media (min-width: 1000px) { html { font-size: 43.8%; } }
@media (min-width: 1250px) { html { font-size: 50.0%; } }
@media (min-width: 1500px) { html { font-size: 56.3%; } }
@media (min-width: 1700px) { html { font-size: 62.5%; } }

body {
	font-size: 1.4rem;
	font-family: Microsoft JhengHei, "微軟正黑體", Arial, sans-serif;
	word-break: break-all;
}

a, a:visited, a:hover {
	color: #000;
	text-decoration: none;
}

.relative-block {
	position: relative;
	width: 100%;
	height: 100%;
}

nav {
	width: 100%;
	.top-wrap {
		padding: 20px 0;
		display: flex;
		align-items: flex-end;
	}
	.btn-hamburger {
		cursor: pointer;
		margin-left: 10px;
	}
	.logo {
		width: 95px;
		margin-left: 25px;
	}
	.btn-line {
		align-self: flex-end;
		margin-left: auto;
		margin-right: 25px;
		text-align: right;
		img {
			width: 60px;
			cursor: pointer;
		}
	}
	.counter {
		display: none;
		font-size: 1.4rem;
		color: #241916;
		margin-top: 20px;
		span {
			font-size: 2.2rem;
			color: #E5AB38;
			font-weight: bold;
			margin-left: 15px;
		}
	}
	.bottom-wrap {
		position: absolute;
    	z-index: 1;
    	background-color: #F6F6F9;
    	width: 200px;
    	display: none;
	}
	.menu-list {		
		border: 1px solid #bbb;
		border-top: 0px;
		font-size: 1.2rem;
		padding-bottom: 125px;
		li {
			display: flex;
			align-items: center;
			padding-left: 25px;
			padding-top: 20px;
		}
	}
	.menu-list__item {
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	.menu-list__icon {
		width: 50px;
		text-align: center;
	}
	.menu-list__icon2, .menu-list__icon2--active {
		display: none;
	}
	.search-wrap--mobile {
		display: flex;
		justify-content:space-between;
		height: 25px;
		background-color: #fff;
	}
	.search-input {
		border: 1px solid #bbb;
		height: 100%;
		width: calc(100% - 53px);
		padding: 0px;
	}
	.search-btn {
		border: 1px solid #bbb;
		border-left: 0px;
		width: 50px;
		height: 100%;
		cursor: pointer;
		background: url(../images/icon/search.png) no-repeat center;
		background-size: 20px auto;
	}
	.search-wrap--pc {
		display: none;
	}
}

@media (min-width: $screen-pc-min) {
	nav {
		width: $pc-inner-width;
		margin: 0 auto;
		.top-wrap {
			padding-top: 90px;
			padding-bottom: 40px;
		}
		.btn-hamburger {
			display: none;
		}
		.logo {
			width: 100%;
			margin-left: 4%;
			max-width: 403px;
		}
		.logo-wrap {
			display: inline-table;
			width: 32%;
		}
		.btn-line {
			margin-right: 2%;
			img {
				width: 80px;
			}
		}
		.counter {
			font-size: 1.8rem;
			display: flex;
			align-items: center;
			margin-top: 10px;
			span {
				font-size: 5rem;
			}
		}
		.bottom-wrap {
			position: relative;
			width: 100%;
			background-color: #fff;
			margin-bottom: 40px;
			display: block;
		}
		.menu-list {
			display: flex;
    		justify-content: space-between;
			font-size: 2.4rem;
			padding-bottom: 0px;
			border: 0px;
			li {
				display: inline-block;
				padding: 0px;
				// width: calc(100% / 6);
			}
		}
		.menu-list__icon {
			display: none;
		}
		.menu-list__icon2 {
			width: 100%;
			display: block;
		}
		.menu-list__icon2--active {
			width: 100%;
		}
		.search-wrap--mobile {
			display: none;
		}
		.search-wrap--pc {
			display: flex;
			justify-content: space-between;
			align-self: flex-end;
			margin-left: auto;
			margin-bottom: 5px;
			height: 22px;
			background-color: #fff;
			width: 25%;
		}
		.search-input {
			border: 2px solid #000;
			height: 100%;
			width: calc(100% - 41px);
			padding: 0px;
			font-size: 1.8rem;
		}
		.search-btn {
			border: 2px solid #000;
			border-left: 0px;
			width: 35px;
			background: url(../images/icon/search.png) no-repeat center;
			background-size: 14px auto;
		}
		.menu-list__item {
			width: 100%;
			max-width: 150px;
			display: block;
			text-align: center;
			span {
				display: block;
				padding-top: 90px;
				padding-right: 9px;
				color: #241916;
				display: none;
			}
		}
		.hide {
			display: none;
		}
		.show {
			display: block
		}
	}
}

@media (min-width: $screen-pc-bigger-min) {
	nav {
		.top-wrap {
			padding-top: 120px;
			padding-bottom: 60px;
		}
		.bottom-wrap {
			margin-bottom: 60px;
		}
		.search-wrap--pc {
			height: 35px;
			margin-bottom: 10px;
		}
		.search-input {
			width: calc(100% - 81px);
		}
		.search-btn {
			width: 75px;
			background: url(../images/icon/search.png) no-repeat center;
			background-size: 28px auto;
		}
		.counter {
			margin-top: 20px;
			span {
			}
		}
		.btn-line {
			img {
				width: 146px;
			}
		}
	}
}

footer {
	.top-wrap {
		display: none;
	}
	.bottom-wrap--mobile {
		text-align: center;
		line-height: 260%;
		font-size: 1.2rem;
		section {
			padding: 25px 0;
		}
		section:first-child {
			background-color: #F1F1F1;
		}
	}
	.bottom-wrap--pc {
		display: none;
	}
}

@media (min-width: $screen-pc-min) {
	footer {
		.top-wrap {
			position: relative;
			display: block;
			background-color: #F9F7F4;
			border-top: 3px solid #DCDDDD;
			height: 210px;
			.link-list {
				position: absolute;
    			left: 0;
    			right: 0;
    			z-index: 1;
				text-align: center;
				margin: auto;
				margin-top: 70px;
				width: 42%;
				display: flex;
				justify-content:space-around;
				li {
					display: inline-block;
					font-size: 2.2rem;
				}
			}
			.social-link {
				position: absolute;
				top: 30px;
				width: $pc-inner-width;
				text-align: right;
				left: 0;
				right: 0;
				margin: auto;
				a:first-child {
					margin-right: 5px;
				}
				.fb, .line {
					width: 6.9%;
					max-width: 72px;
				}
			}
			.btn-totop {
				position: absolute;
				top: -3px;
				width: 4.6%;
				height: 100%;
				right: 9%;
				.ui {
					width: 100%;
					max-width: 75px;
					height: 100%;
					background: url(../images/icon/arrow_totop.png) no-repeat;
					background-size: 100% auto;
					background-position: top center;
					cursor: pointer;
					float: right;
				}
			}
		}
		.bottom-wrap--mobile {
			display: none;
		}
		.bottom-wrap {
			background-color: #F1EDE6;
		}
		.bottom-wrap--pc {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2.1rem;
			line-height: 160%;
			max-width: 1580px;
			margin: auto;
			width: 85%;
			.img-wrap {
				width: 20%;
				margin-right: 2%;
			}
			.logo {
				width: 100%;
				max-width: 337px;
				margin-right: 30px;
				margin-bottom: 15px;
			}
			.info-wrap {
				width: 78%;
				display: flex;
				padding: 30px 0px;
				div:first-child {
					width: 42%;
					margin-right: 1%;
				}
				div:last-child {
					width: 56%;
					margin-left: 1%;
				}
			}
		}
	}
}

@media (min-width: $screen-pc-bigger-min) {
	footer {
		.top-wrap {
			height: 290px;
			.link-list {
				margin-top: 110px;
			}
			.social-link {
				top: 50px;
				a:first-child {
					margin-right: 15px;
				}
			}
		}
		.bottom-wrap--pc {
			.info-wrap {
				padding: 50px 0px;
			}
		}
	}	
}