$screen-pc-min: 769px;
$pc-inner-width: 60%;
@import "compass/css3";

main {
	width: calc(100% - 20px);
	margin: 0 auto;
	text-align: center;
	padding-bottom: 85px;
	.arrow {
		width: 10%;
		max-width: 58px;
		margin: 0 auto;
		display: block;
		margin-bottom: 3%;
	}
	.img-qrcode {
		width: 127px;
		margin-bottom: 10%;
		cursor: pointer;
	}
	.img-phone {
		width: 43px;
		margin: 35px 0;
	}
	.text-main {
		font-size: 2.5rem;
		color: #7BAE94;
		line-height: 200%;
	}
	.text-smaller {
		font-size: 2rem;
	}
	.text-point {
		color: #569172;
	}
	.text-phone {
		line-height: 120%;
	}
	.text-note {
		line-height: 120%;
		color: #989898;
		font-size: 1.6rem;
		width: 140px;
		text-align: left;
		margin: 0 auto;
		text-indent: -1.3rem;
		margin-top: 40px;
	}
	.text-note:before {
		content: url(../images/icon/start.png);
	}
}

@media (min-width: $screen-pc-min) {
	main {
		width: $pc-inner-width;
		padding-bottom: 15%;
		padding-top: 4%;
		.img-qrcode {
			width: 30.6%;
			max-width: 255px;
		}
		.img-phone {
			width: 13%;
			max-width: 143px;
			margin: 5% 0;
		}
		.text-main {
			margin: 0 auto;
			font-size: 6rem;
		}
		.text-smaller {
			font-size: 4.5rem;
		}
		.text-note {
			font-size: 4.5rem;
			width: auto;
			display: inline-block;
			text-indent: -4.6rem;
			margin-top: 8%;
		}
		.text-note:before {
			content: url(../images/icon/start_pc.png);
			position: relative;
    		top: 5px;
		}
	}
}