$screen-pc-min: 769px;
$screen-pc-bigger-min: 1280px;
$pc-inner-width: 60%;
@import "compass/css3";

main {
	width: calc(100% - 20px);
	margin: 0 auto;
	text-align: center;
	padding-bottom: 85px;
	.img-line {
		width: 42px;
		margin-bottom: 10px;
	}
	.img-qrcode {
		width: 127px;
	}
	.img-phone {
		width: 43px;
		margin: 35px 0;
	}
	.title {
	}
	.text-main {
		font-size: 2.5rem;
		color: #7BAE94;
		line-height: 200%;
	}
	.text-smaller {
		font-size: 2rem;
	}
	.text-point {
		color: #569172;
	}
	.text-phone {
		line-height: 120%;
	}
	.text-note {
		line-height: 120%;
		color: #989898;
		font-size: 1.6rem;
		width: 140px;
		text-align: left;
		margin: 0 auto;
		text-indent: -1.3rem;
		margin-top: 40px;
	}
	.text-note:before {
		content: url(../images/icon/start.png);
	}
}

@media (min-width: $screen-pc-min) {
	main {
		width: $pc-inner-width;
		padding-bottom: 315px;
		padding-top: 130px;
		.img-wrap {
			position: absolute;
			left: 0;
			width: 14%;
		}
		.img-line {
			width: 100%;
			max-width: 166px;
			margin-bottom: 0px;
		}
		.img-qrcode {
			width: 30.6%;
			max-width: 375px;
		}
		.img-phone {
			width: 13%;
			max-width: 143px;
			margin: 65px 0;
		}
		.title {
			display: flex;
			align-items: center;
			position: relative;
		}
		.text-main {
			margin: 0 auto;
			font-size: 6rem;
		}
		.text-smaller {
			font-size: 4.5rem;
		}
		.text-note {
			font-size: 4.5rem;
			width: auto;
			display: inline-block;
			text-indent: -4.6rem;
			margin-top: 150px;
		}
		.text-note:before {
			content: url(../images/icon/start_pc.png);
			position: relative;
    		top: 5px;
		}
	}
}

@media (min-width: $screen-pc-bigger-min) {
	main {

	}
}