$screen-pc-min: 769px;
$pc-inner-width: 82%;
@import "compass/css3";

main {
	width: calc(100% - 10px);
	margin: 0 auto;
	padding: 0 5px;
	.title {
		display: flex;
		align-items: center;
		font-size: 1.2rem;
		img {
			width: 14px;
			margin-left: 15px;
		}
	}
	.list {
		font-size: 0px;
  		letter-spacing: 0px;
  		word-spacing: 0px;
		padding-top: 15px;
		padding-bottom: 45px;
	}
	.item-wrap {
		display: inline-block;
		width: calc((100% - 20px) / 2);
		margin: 0 5px;
		cursor: pointer;
		vertical-align: top;
	}
	.item__img {
		img {
			width: 100%;
		}
	}
	.item__text {
		font-size: 1.2rem;
		padding: 15px 0;
		text-align: center;
	}
}

@media (min-width: $screen-pc-min) {
	main {
		width: $pc-inner-width;
		padding: 0;
		.title {
			font-size: 4rem;
			img {
				width: 4%;
				max-width: 62px;
				margin-left: 0px;
				margin-right: 25px;
			}
		}
		.list {
			width: 94%;
			margin: 0 auto;
			padding-top: 110px;
			padding-bottom: 200px;
			a {
				display: inline;
			}
		}
		.item-wrap {
			width: calc((100% - 160px) / 4);
			margin: 0 20px;
		}
		.item__text {
			font-size: 3rem;
			padding: 50px 0;
		}
	}
}