$screen-pc-min: 769px;
$pc-inner-width: 82%;
@import "compass/css3";

main {
	width: calc(100% - 16px);
	margin: 0 auto;
	padding: 0 8px;
	.title {
		display: flex;
		align-items: center;
		font-size: 1.2rem;
		img {
			width: 20px;
		}
	}
	.list {
		font-size: 0px;
  		letter-spacing: 0px;
  		word-spacing: 0px;
		padding: 20px 0;
	}
	.item-wrap {
		display: inline-block;
		width: calc((100% - 32px) / 2);
		margin: 0 8px;
		cursor: pointer;
		vertical-align: top;
	}
	.item__img {
		img {
			width: 100%;
		}
	}
	.item__text {
		text-align: center;
		font-size: 1.2rem;
		padding: 20px 0;
	}
}

@media (min-width: $screen-pc-min) {
	main {
		width: $pc-inner-width;
		padding: 0;
		.title {
			font-size: 4.1rem;
			img {
				width: 5%;
				max-width: 67px;
				margin-right: 30px;
			}
		}
		.list {
			width: 94%;
			margin: 0 auto;
			padding-top: 6%;
			padding-bottom: 6%;
		}
		.item-wrap {
			width: calc((100% - 12%) / 3);
			margin: 0 2%;
		}
		.item__text {
			font-size: 3rem;
			padding: 15% 0;
		}
	}
}