/* line 1, ../../sass/sass/index.scss */
[class*="col-"] {
  background-color: #ffff00;
  border: 1px solid #333;
}

/* line 6, ../../sass/sass/index.scss */
.dropdown-menu {
  border: 0;
  box-shadow: 0;
  background-color: rgba(191, 149, 90, 0.8);
}

/* line 12, ../../sass/sass/index.scss */
.dropdown-menu a:hover {
  background-color: black;
}
